<link rel="icon" type="image/png" href="/Public/Admin/image/favicon.png">
<link rel="apple-touch-icon-precomposed" href="/Public/Admin/image/app-icon72x72@2x.png">
<link rel="stylesheet" href="/Public/Admin/styles/amazeui.css">
<link rel="stylesheet" href="/Public/Admin/styles/admin.css">
<link rel="stylesheet" href="/Public/Admin/styles/amazeui.datatables.css">
<script>
    var ROOT ="__ROOT__";
    var APP_PATH = "__APP__";
    var MOD_PATH = "__MODULE__";
    var CON_PATH = "__CONTROLLER__";
</script>